{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Checkout - igot.io</title>
	<link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
	<link rel="stylesheet" href="{% static 'css/intlTelInput.css' %}">
	<style type="text/css">
		.iti-flag {background-image: url("{% static 'res/flags.png' %}");}

		@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
		  .iti-flag {background-image: url("{% static 'res/flags@2x.png' %}");}
		}
	</style>
	<script src="{% static 'js/jquery-3.3.1.js' %}"></script>
	<script src="{% static 'js/intlTelInput.js' %}"></script>
    <script class="iti-load-utils" async="" src="{% static 'js/utils.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/request.js' %}"></script>
	<script>
		var iti;
		$(document).ready(function() {
		    let input = document.querySelector("#phone");
		   	iti = intlTelInput(input);
		});
		function checkout(value, skin) {
			let identifier, number;
			if(iti.isValidNumber()) {
				identifier = iti.getSelectedCountryData().dialCode;
				number = iti.getNumber();
				number = number.split("+" + identifier)[1];   
			}

			Request.post("api/payPhone", {'identifier': identifier, 'number': number, 'value': value, 'skin': skin}).then((response) => window.location.assign(window.location.origin + "/shop"));
		}
	</script>
</head>
<body>
    {% csrf_token %}
	<div class="container" align="center">
        <div class="row" style="margin-top: 60px; margin-bottom: 60px;">
            <div class="col">
            	<input type="tel" id="phone" class="textbox">
            </div>
        </div>
        <div class="row">
        	<div class="col">
        		<button class="primary-btn" onclick="checkout('{{ value }}','{{ skin }}')">Checkout</button>
        	</div>
        </div>
    </div>
	
</body>
</html>