<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shop - igot.io</title>
    <link rel="stylesheet" href="static/css/main.css">
    <link rel="stylesheet" href="static/css/bootstrap.css">
    <script type="text/javascript">
    	
    </script>
</head>
<body>
<div>
    <div class="container" align="center" style="background-color: rgba(255, 255, 255, .7); border-top-left-radius: 15px; border-top-right-radius: 15px;">
        <div class="row" style="margin-top: 60px; background-color: #2A5A83; border-radius: inherit;">
            <div class="col">
                <h1 style="color: white !important; margin-bottom: 15px; margin-top: 15px;">Shop</h1>
            </div>
        </div>
        <div class="row" style="">
            <div class="col-4 my-auto">
            	<div class="row">
            		<div class="col">
            			<img src="/static/res/skin_warrior.png" class="shop-skin">
            		</div>
            	</div>
            	<div class="row">
            		<div class="col">
            			<button class="primary-btn" style="max-width: 84px;">Buy - 3€</button>
            		</div>
            	</div>
            </div>
            <div class="col-4 my-auto">
            	<div class="row">
            		<div class="col">
            			<img src="/static/res/skin_lil.png" class="shop-skin">
            		</div>
            	</div>
            	<div class="row">
            		<div class="col">
            			<button class="primary-btn" style="max-width: 84px;">Buy - 3€</button>
            		</div>
            	</div>
            </div>
            <div class="col-4 my-auto">
            	<div class="row">
            		<div class="col">
            			<img src="/static/res/skin_mr_t.png" class="shop-skin">
            		</div>
            	</div>
            	<div class="row">
            		<div class="col">
            			<button class="primary-btn" style="max-width: 84px;">Buy - 3€</button>
            		</div>
            	</div>
            </div>
        </div>
    </div>
</div>
</body>
</html>